// Typography
$base-font-family: "Helvetica";

// font sizes:
$heading-size: 1.5rem;
$sub-heading-size: 1rem;

// font colors
$base-font-color: #000;
$sub-heading-color: #8c9495;
$info-color: #4e89c1;
$main-button-text-color: #fff;
$disabled-color: lightgray;

// colors:
$border-color: #ecf1f8;
$main-background-color: #f9f8fa;
$main-button-color: #5585bc;
$tail-background-color: #fff;

// sizes
$border-width: 3px;
