.header {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 100%;

  height: 5rem;
  border-bottom: solid $border-width $border-color;

  &__content_wrapper {
    display: flex;
    justify-content: start;
    align-items: baseline;

    &--title {
      font-size: $heading-size;
      margin: 0 1.5rem;
    }

    &--sub-title {
      font-size: $sub-heading-size;
      color: $sub-heading-color;
    }
  }
}
