<div class="main-container">
  <Header />
  <div class="main-container__main">
    <Sidebar @appointment={{@model}} />

    <div class="main-container__main--content">
      {{outlet}}
    </div>
  </div>
</div>
